*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Inconsolata", monospace;

  --fw-thin: 100;
  --fw-reg: 400;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #46b6ea;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.8em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.3em rgba(0, 0, 0, 0.5);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4rem;
    --fs-h2: 3.25rem;
    --fs-h3: 1.85rem;
    --fs-body: 1.125rem;
  }
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

img {
  display: block;
  max-width: 100%;
}

/*Typography*/
h1,
h2,
h3 {
  margin: 0;
  font-weight: var(--fw-bold);
}

strong {
  font-weight: var(--fw-bold);
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.section__title {
  font-weight: var(--fw-reg);
}

.section__title strong {
  display: block;
}

.section__subtitle {
  font-size: var(--fs-h3);
  font-weight: var(--fw-reg);
}

.section__subtitle--intro,
.section__subtitle--about {
  padding: 0.25em 1em;
  background: var(--clr-accent);
  font-family: var(--ff-secondary);
  color: var(--clr-light);
  font-weight: var(--fw-reg);
}

.section__subtitle--intro {
  display: inline-block;
}

section {
  padding: 5em 2em;
}

/*Introduction*/
.intro {
  display: relative;
}

.intro img {
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .intro {
    width: min-content;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-areas: "img title" "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro img {
    grid-area: img;
    min-width: 250px;
    display: relative;
    z-index: 2;
  }

  .section__subtitle--intro {
    align-self: center;
    grid-column: 1/-1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.2em;
    width: calc(100% + 1.2em);
  }
}

/* skills section*/
.skills {
  color: var(--clr-light);
  background-color: var(--clr-dark);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/images/working_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

@media (max-width: 420px) {
  .skills {
    color: var(--clr-light);
    background-color: var(--clr-dark);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./assets/images/working_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  }
}

.skills h2 {
  color: var(--clr-accent);
  position: relative;
}

.skills h2::after {
  content: "";
  display: block;
  width: 25%;
  height: 1px;
  margin: 0.1em auto 1em;
  background: currentColor;
}

.skillItem p {
  font-weight: 200;
}

.skillItem {
  margin-bottom: 2em;
}

.skillItem img {
  margin: auto;
}

.skillTable {
  justify-content: center;
}

@media (min-width: 800px) {
  .intro img {
    min-width: 300px;
  }

  .intro p {
    top: -1.5em;
  }

  .skillItem {
    margin: 0;
    min-width: 280px;
    max-width: 280px;
  }

  .skillTable {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .intro img {
    min-width: 300px;
  }

  .skillItem {
    min-width: 350px;
    max-width: 350px;
    margin: 0 2em;
  }
}

/*About me*/

.about {
  max-width: 1000px;
  margin: 0 auto;
}

.about__body p {
  overflow-wrap: break-word;
  text-align: center;
}

@media (min-width: 750px) {
  .about {
    display: grid;
    place-items: center;
    grid-template-areas: "title subtitle" "body body";
  }

  .section__subtitle--about {
    grid-area: subtitle;
  }

  .about__body {
    grid-area: body;
  }
}

/*work*/
.work {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url(./assets/images/galaxy_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--clr-light);
  text-align: center;
}

.section__subtitle--work {
  color: var(--clr-accent);
  margin-bottom: 3em;
}

.work__item h3 {
  color: lightseagreen;
}

@media (min-width: 600px) {
  .work__item + .work__item {
    margin-left: 30px;
  }
}

@media (min-width: 800px) {
  .work__item + .work__item {
    margin-left: 200px;
  }
}

/*work item*/

.card {
  color: var(--clr-dark);
  flex-shrink: 0;
  width: 300px;
  height: 350px;
  border-radius: 10px;
  margin-left: 20px;
  background: white;
}

.card h3 {
  color: var(--clr-accent);
  margin-top: 1em;
}

.card img {
  margin: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-height: 245px;
  min-width: 100%;
}

.scroll-container {
  display: flex;
  width: 100%;
  height: 480px;
}

@media (max-width: 420px) {
  .card img {
    max-height: 148px;
  }
  .scroll-container {
    display: flex;
    height: 400px;
    width: 365px;
  }
}

.card p {
  overflow-wrap: break-word;
  padding: 0 1em 3em 1em;
}

@media (min-width: 800px) {
  .card {
    width: 500px;
    height: 450px;
    margin-left: 50px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--clr-accent);
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: aqua;
}

/*Footer*/
.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 0.5em 0;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link + .footer__link {
  margin-left: 2em;
}

.footer__link a:hover {
  opacity: 0.7;
}

.footer__link {
  font-size: var(--fs-h3);
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

/*navbar*/

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.logo {
  max-width: 100px;
}

.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;

  transform: translateX(100%);
  transition: transform 800ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-accent);
}

.hamburgerIcon {
  display: block;
  position: relative;
  z-index: 100;
}
.hamburgerIcon,
.hamburgerIcon::before,
.hamburgerIcon::after {
  background: var(--clr-accent);
  width: 2em;
  height: 4px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburgerIcon::before,
.hamburgerIcon::after {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburgerIcon::before {
  top: 7px;
}

.hamburgerIcon::after {
  bottom: 7px;
}

.nav-toggle {
  background: transparent;
  padding: 0.25em;
  border: 0;
  height: 1em;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 2em;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open.nav-toggle {
  position: fixed;
  z-index: 99;
}

.nav-open .hamburgerIcon {
  transform: rotate(0.625turn);
}

.nav-open .hamburgerIcon::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburgerIcon::after {
  opacity: 0;
}
